    {% extends 'base.html' %}

{% block title %} Feedback {% endblock %}


{% block content_block %}
<div class="col-md-10 content">
       <div class="row clearfix">
                        <div class="col-md-8 column addrcol">
                            
                            <h2> About Us </h2>
                            
			<p>
				Smart Vizag (www.smartvizag.com) provides relevant, reliable and comprehensive information about government organizations, business units and latest updates in vizag city. Smart Vizag uses digital technologies to enhance wellbeing, to reduce costs and resource consumption, and to engage more effectively and actively with vizag residents. Through Smart vizag residents can now better connect with government and neighbourhood.
</p>
<p>
For example, if any person wants to know the location of a doctor in the city or any government office, they can easily get it on their mobile. <br/>
Users can also call Ph: 888 678 0891 for their information  needs.
</p>
<p>
Smart Vizag aims to be a one-stop solution for all information and engagement needs for vizag residents.
<br/>
Smart Vizag is developed by Delevere Pvt Ltd.

			</p>
		</div>
	</div>
</div>

{% endblock %}
