    {% extends 'base-dash.html' %}

    {% load static %}
{% block title %}  Do Not Disturb  {% endblock %}

    {% block content_block %}




      <div class="row clearfix">
                        <div class="col-md-12 column maincol">
				 
					<div class="inline page-title"> <h2>  Do Not Disturb Registry </h2>   </div>
					
				</div>
</div>
       <div class="row clearfix datarow">
                        <div class="col-md-12 column">  
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th> Name </th>
        <th> Link </th>



      </tr>
    </thead>

                     

	<tr>
        <td> Vodafone</td>
        <td> https://www.vodafone.in/pages/dnd.aspx
 </td>
	<tr>
        <td> Airtel</td>
        <td>http://www.airtel.in/forme/dnd

 </td>
 	<tr>
        <td> Reliance Commnications</td>
        <td> http://www.rcom.co.in/Rcom/personal/donotcall/donotcall.html
 </td>
 	
 	<tr>
        <td> Uninor</td>
        <td> https://www.uninor.in/Pages/dnd.aspx
 </td>
 	<tr>
        <td> Virgin Mobile</td>
        <td> http://www.virginmobile.in/dnd.aspx
 </td>
 	<tr>
        <td> SBI Card</td>
        <td> https://www.sbicard.com/creditcards/faces/pages/CreditCardDoNotDisturb.jsp
 </td>
 	<tr>
        <td> Standard Chartered</td>
        <td> https://forms.online.standardchartered.com/public_website/india/do_not_disturb2/
 </td>
 	<tr>
        <td> BSNL</td>
        <td> http://pcpr.bsnl.co.in/
 </td>	<tr>
        <td> MTS India</td>
        <td> http://www.mtsindia.in/donotdisturb.html
 </td>
 </td>	<tr>
        <td> Max Life Insurance</td>
        <td> http://www.maxlifeinsurance.com/do_not_disturb.aspx
 </td>

	<tr>
        <td> Idea</td>
        <td> http://www.telecomdiary.com/i/dnd/idea-do-not-disturb/
 </td> </td>	<tr>
        <td> MTNL Mumbai</td>
        <td> http://mtnlmumbai.in/index.php/dnd
 </td> </td>	<tr>
        <td> Bajaj Alliance</td>
        <td> https://general.bajajallianz.com/BagicNxt/call/donotCall.do
 </td>
  </td> </td>	<tr>
        <td> ING Vysya Bank</td>
        <td> http://www.ingvysyabank.com/personal-banking/products/rb-dnd-registry.aspx
 </td>
  </td> </td>	<tr>
        <td> MTNL Delhi</td>
        <td> http://mtnldelhi.in/dolphin/index.php/do-not-call
 </td> </td> </td>	<tr>
        <td> ICICI Prudential Life</td>
        <td> https://www.iciciprulife.com/ipru/Donotdisturb.jsp
 </td>
  </td> </td>	<tr>
        <td> Tata Docomo</td>
        <td> http://www.tatadocomo.com/do-not-disturb.aspx
 </td>
  </td> 
      </tr>

                 
                      </tbody>
      </table>

	  

	  
	
                                                       </div>
                                                    </div>

    {% endblock %}
