    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|smartvizag |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://smartvizag.com/howdoi/"/>
<meta property="og:sitename" content = "http://smartvizag.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Smartvizag provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Transportation Servies Information  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> Government of ap transport department</td>
        <td>  Detailed description for government of ap transport department is given 
		    <a href = "https://aptransport.in/aphome.html" target="_blank">  here </a>
 </td>
 </tr>


<tr>
        <td> Ministry of road transpot and highways  </td>
        <td>  To know about Ministry of road transpot and highways click 
		    <a href = "http://morth.nic.in/" target="_blank">  here </a>
 </td>
 </tr>

<tr>
        <td> Apply driving license  </td>
        <td>  To apply for driving license online click 
		    <a href = "http://www.aptransport.org/html/driving-licence.html" target="_blank">  here </a>
 </td>
 </tr>

<tr>
        <td> AP state road transport corporation  </td>
        <td>  To book your buses online click 
		    <a href = "http://www.apsrtconline.in/oprs-web/" target="_blank">  here </a>
 </td>
 </tr>
<tr>
        <td> APSRTC official site </td>
        <td>  To know about APSRTC click 
		    <a href = "http://www.apsrtc.gov.in/" target="_blank">  here </a>
 </td>
 </tr>




                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
