    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|smartvizag |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://smartvizag.com/howdoi/"/>
<meta property="og:sitename" content = "http://smartvizag.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Smartvizag provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Tax Services information  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> How to apply tax</td>
        <td>  Detailed description to apply tax 
		    <a href = "https://incometaxindiaefiling.gov.in/e-Filing/Registration/RegistrationHome.html" target="_blank">  here </a>
 </td>
 </tr>
	<tr>
        <td> Types of taxes </td>
        <td>  Detailed description for types of taxes is given 
		    <a href = "http://business.mapsofindia.com/india-tax/types/" target="_blank">  here </a>  </p>

 </td>
 </tr>
<tr>
        <td> House tax </td>
        <td>  To apply for house tax click 
		    <a href = "http://cdma.ap.gov.in/PropertyTax.html" target="_blank">  here </a>  </p>

 </td>
 </tr>

<tr>
        <td> Virtual Civic Center (Online Service) </td>
        <td>  To apply for water tax click 
		    <a href = "https://www.gvmc.gov.in/gvmc/index.php/online-services" target="_blank">  here </a>  </p>

 </td>
 </tr>
        
                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
