    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|smartvizag |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://smartvizag.com/howdoi/"/>
<meta property="og:sitename" content = "http://smartvizag.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Smartvizag provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Utilities  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> Electricity bill payment:</td>
        <td>  To pay your electricity bill online click 
		    <a href = "https://www.billdesk.com/APCPDCL/apcpdcl.htm" target="_blank">  here </a>
 </td>
 </tr>


<tr>
        <td> Gas aadhar link up </td>
        <td>  To link up gas connection with your Aadhaar click 
		    <a href = "http://mylpg.in/" target="_blank">  here </a>

 </td>
 </tr>

<tr>
        <td> New gas connection </td>
        <td>  To apply for a new gas connection click  
		    <a href = "http://myhpgas.in/myHPGas/Index.aspx" target="_blank">  here </a>  </td>
 </tr>

   
<tr>
        <td> How to Link Aadhar Card to Bank accounts: </td>
        <td>  Detailed information  for linking the Aadhar card to bank account 
 <a href = "http://www.linkaadharcard.in/how-to-link-aadhaar-card-to-bank-account-online-offline/" target = "_blank">  Click Here </a>

 </td>
 </tr>
<tr>
 
        <td> Public Utility contacts </td>
        <td>  For any public utility information in Andhra Pradesh click
 <a href = "http://www.ap.bsnl.co.in/enquiry/publicutilynumbers.asp" target = "_blank">  Here </a>

 </td>
 </tr>
        
                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
