<meta name="Title" content="Hospitals  in  Visakhapatnam | Smartvizag /">
<meta name="description" content="Hospitals in Visakhapatnam Phone Numbers, Addresses, Visit Smartvizag for Hospitals in Visakhapatnam, Tertiary care hospital, Multi speciality hospital">
<meta name="keywords" content="Hospitals in Visakhapatnam, Tertiary care hospital, Visakhapatnam Hospitals, list of Hospitals in Visakhapatnam, Multi speciality hospital, Super speciality hospital, multi speciality medical treatment centres in visakhapatnam, Best Hospitals, vizag hospitals list, Hospitals in vizag. ">
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all">
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://www.smartvizag.com/hospital/"/>
<meta property="og:sitename" content = "http://www.smartvizag.com"/> 
<meta property="og:title" content="Hospitals in vizag, best hosiptals in vizag, mutli speciality hospital, Super speciality hospital, medical centres, diagnostics centres, seven hills hospitals, apollo hosiptals in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Smartvizag provides information about the best hospitals in Visakhapatnam" />
