<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../Documents/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?fm=jpg&amp;s=cfeadbd7a991e58b553bee29a7eeca55"
        width="300" height="150">
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills navbar-left">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Food Menu</a>
          </li>
          <li>
            <a href="#">Reservation</a>
          </li>
          <li>
            <a href="#">Other Services</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by Locaton, Venue name or Event type">
            <span class="input-group-btn">
              <a class="btn btn-success" type="submit">SEARCH</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide" data-ride="carousel" id="carousel-example"
        data-interval="false">
          <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
          <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://placehold.it/1200x315" alt="...">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/1200x315" alt="...">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/1200x315" alt="...">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button"
          data-slide="prev">
    <i class="icon-prev  fa fa-angle-left"></i>
  </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button"
          data-slide="next">
    <i class="icon-prev  fa fa-angle-right"></i>
  </a>
        </div>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Our Services</h3>
            </div>
            <div class="panel-body">
              <p>Marriage Functions</p>
              <p>Birthday Functions</p>
              <p>Corparate Functions</p>
              <p>Panel content</p>
              <p>Marriage Functions</p>
              <p>Birthday Functions</p>
              <p>Corparate Functions</p>
              <p>Panel content</p>
              <p>Marriage Functions</p>
              <p>Birthday Functions</p>
              <p>Corparate Functions</p>
              <p>Panel content</p>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="btn-link panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center text-success">Functions</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                  class="img-responsive">
                  <h2>A Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="col-md-4">
                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                  class="img-responsive">
                  <h2>A title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="col-md-4">
                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                  class="img-responsive">
                  <h2>A title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="col-md-4">
                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                  class="img-responsive">
                  <h2>A Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="col-md-4">
                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                  class="img-responsive">
                  <h2>A title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="col-md-4">
                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                  class="img-responsive">
                  <h2>A title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('.carousel').carousel({
                                interval: 3000
                            })
    </script>
  </body>

</html>
