
            <div class="row"><div class="control-group  field-time_of_entry">
                
                    <div class="col-md-12 form-group ">
                        <div class="control-label col-md-3">
                            <label class="required" for="id_time_of_entry_0">Time of entry:</label>
                        </div>
                        
                        <div class="controls col-md-9">
                            
                                <p class="datetime">Date: <input class="form-control form-control-inline vDateField" id="id_time_of_entry_0" name="time_of_entry_0" placeholder="Time of entry" size="10" title="" type="text"/></p>
                        </div>
                        
                    </div>
                
            </div>
            </div>