{% extends "base.html" %}
{% block content_block %}
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			 <a href="/gentryin/">
			<button type="button" class="btn btn-lg btn-primary btn-block" >
				<img src="/static/entry.jpeg" style="width:80px , height:50"/><br>
				GATE IN
			</button>
			</a>
		</div>
		<div class="col-md-6">
			 <a href="/gentryout/">
			<button type="button" class="btn btn-primary btn-lg btn-block">
				<img src="/static/exit.jpg" style="height: 185px;"/><br>
				GATE OUT
			</button>
			</a>
		</div>
	</div>

<br/>  <br/>
<div class="row">
		<div class="col-md-12">
			 <a href="/admin/reports">
			<button type="button" class="btn btn-lg btn-primary btn-block" >
				View Reports 
			</button>
			</a>
		</div>
		
	</div>


</div>
{% endblock %}
