{% extends "base.html" %}
{% block content_block %}
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			 <a href="/gentryin/">
			<button type="button" class="btn btn-lg btn-primary btn-block" >
				GATE IN
			</button>
			</a>
		</div>
		<div class="col-md-6">
			 <a href="/gentryout/">
			<button type="button" class="btn btn-primary btn-lg btn-block">
				GATE OUT
			</button>
			</a>
		</div>
	</div>

<br/>  <br/>
<div class="row">
		<div class="col-md-12">
			 <a href="/admin/reports">
			<button type="button" class="btn btn-lg btn-primary btn-block" >
				View Reoprts 
			</button>
			</a>
		</div>
		
	</div>


</div>
{% endblock %}
