{% extends "base.html" %}

{% block content_block %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

<div class="container">
  <div class="row">
    <div class="col-md-12">


    <p> <h3>Select Report to View 
         <a href="/piechartpage/">
      <button type="button" class="btn btn-secondary btn-md">
        View Containers by Gate
      </button>
    </a>  

    <a href="/tvehicles/">
      <button type="button" class="btn btn-secondary btn-md">
        View Containers Of Today
      </button>
    </a>

    <a href="/twohours/">
      <button type="button" class="btn btn-secondary btn-md">
        View Containers in last 2 hours
      </button>
    </a></h3>
    </p>



<div class="container">
  <div class="row">

<form method="get" class="reply-form" action = "/managersearch/" name="form1" id="form1">
<!--
<div class="form-group col-md-2">
				 

<select class="selectpicker form-control" name="reporttype" id="reporttype"  onChange="chgAction()">

  <option id = "piechart">Select Report </option>
  <option id = "gate">View Vehicles by Gate </option>
  <option id = "liner">View Vehicles by Liner </option>
  <option id = "tvehicles">View Vehicles Of Today</option>
  <option id = "twohours">View Vehicles in last 2 hours</option>
  <option id = "report"> Search By Date</option>


</select>   
</div>
-->

<div class="form-group col-md-2">
				 

<select class="selectpicker form-control" name="momenttype" id="momenttype"  onChange="chgAction()">

  <option value="all">ALL </option>
  <option id = "tvehicles">IN</option>
  <option id = "twohours">OUT</option>
  <option id = "report"> INandNOTOUT</option>


</select>
</div>

<div class="form-group col-md-2">
<select class="selectpicker form-control" name="linertype" id="linertype"  onChange="chgAction()">

<option value = "all">All Liner</option>
{% for l in liner %}
 <option value="{{l.id}}">{{l.liner}} </option>
{% endfor %}
</select>

</div>

    <div class="form-group col-md-2">
        <p class="datetime"> <input required class="form-control form-control-inline vDateField" id="id_time_of_entry_0" name="from_date" placeholder="From Date" id="from_date" size="10" title="" type="text"/></p>
    </div>

    <div class="form-group col-md-2">
        <p class="datetime"><input required class="form-control form-control-inline vDateField" id="id_time_of_entry_0" name="to_date" placeholder="TO Date" id="to_date" size="10" title="" type="text"/></p>
    </div>
<div class="form-group col-md-2"><button type="submit" class="btn btn-primary">Submit</button></div> 
    <div class="form-group col-md-2">

    </div>
<!-- <input type="date" placeholder="Departure Date" id="departure_date" name="departure_date" required=""> -->


</form>




  </div>
</div>    





    </div>
  
  
</div>
</div>


<!-- ####################################### Table ####################################### -->

<div class="container">
  <div class="row">
    <div class="col-md-12" id="printableArea">


        
      
      <h3>List of Vehicle Entries </h3>
     
<table border="0" id="example" class="display" style="width:100%">

<thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Entry Gate
            </th>

            <th>
              Entry Gatepass
            </th>

              <th>
              Time of Entry
            </th>
            <th>
              Moment type
            </th>
            <th>
              Place
            </th>
            <th>
              Bill No.
            </th>

<th>
              Validity
            </th>


          </tr>
        </thead>
 {% for e in entries %}

<tr>
<td>
{{e.gatepass}} 
</td>
<td>
{{e.gate}}
</td>

<td>
00{{e.gatepass}}
</td>


<td>
{{e.time_of_entry}} 
</td>
<td>
{{e.movement_type}}
</td>

<td>
{{e.place_from}}
</td>

<td>
{{e.bill_no}}
</td>

<td>
{{e.validity_date}}
</td>



</tr>



      {% endfor %}

</table>
 <script>
$(document).ready(function() {
    $('#example').DataTable();
} );
 </script>   
    
</div>
</div>
</div>





{% endblock %}




{% block customjs_block %}

<!--
<script type="text/javascript">


function chgAction() {
    var form = document.form1;
    
    console.log('chgAction()');
    console.log(form.reporttype.selectedIndex);
    var reportname = document.getElementById("reporttype").value;
    switch (form.reporttype.selectedIndex) {
        case 1:
            form.action = "/piechart/";
            break;
        case 2:
            form.action = "/tvehicles/";
            break;
	 case 3:
            form.action = "/twohours/";
            break;
	 case 4:
            form.action = "/report/";
            break;
	

    }
}
</script>
-->
{% endblock %}





