<!DOCTYPE html>
<html lang="en-us" >
   <!--
      <link media="all" href="/static/nvd3/build/nv.d3.css" type="text/css" rel="stylesheet" />
      <script type="text/javascript" src='/static/nvd3/build/nv.d3.min.js' ></script>
      <script type="text/javascript" src='/static/nvd3/build/nv.d3.min.js' ></script>
      -->
   <head>
      <title>Site administration | Django site admin</title>
      <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
      <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
      <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/admin/jsi18n/"></script>
      <script type="text/javascript" src="/static/admin/js/core.js"></script>
      <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
      <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
      <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
      <script type="text/javascript" src="/static/admin/js/actions.js"></script>
      <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
      <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
      <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
      <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
      <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
      <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
      <meta name="robots" content="NONE,NOARCHIVE" />
      {% load nvd3_tags %}
      {% include_chart_jscss %}
      {% load_chart charttype chartdata chartcontainer extra %}
   </head>
   <body class=" dashboard"
      data-admin-utc-offset="19800">
      <!-- Container -->
      <div id="container">
         <!-- Header -->
         <div id="header">
            <div id="branding">
               <h1 id="site-name"><a href="/admin/">Gatekeeper</a></h1>
            </div>
            <div id="user-tools">
               {% if user.is_authenticated %}            
               Welcome,
               <strong>{{request.user}}</strong>.
               <a href="/">View site</a> /
               <a href="/admin/password_change/">Change password</a> /
               <a href="/admin/logout/">Log out</a>
               {% else %}
               <a href="/accounts/login/">Login</a>
               {% endif %}
            </div>
         </div>
         <!-- END Header -->
         <div class="container" style="overflow-x: hidden;">
            <div class="row">
             <h1>Gates vs Vehicles</h1>      <h4> <a href="/admin/reports">  Click here to go to Reports Home </a>  </h4>
               <div class="col-md-3">
                 <br>
                  {% include_container "piechart_container" 500 350 %}
               </div>
                  <div class="col-md-9">
                  <h2>List of Vehicle Entries </h2>
                  <table border="1" class="table table-striped" >
                     <thead>
                        <tr>
                           <th>
                              #
                           </th>
                           <th>
                           container_no
                           </th>
                           <th>
                           size
                           </th>
                           <th>
                           tare_weight
                           </th>
                           <th>
                           grade
                           </th>
                           <th>
                           status
                           </th>
                           <th>
                              Entry Gate
                           </th>
                           <th>
                              Entry Gatepass
                           </th>
                           <th>
                              Time of Entry
                           </th>
                           <th>
                              Liner
                           </th>
                           <th>
                              Place
                           </th>
                           <th>
                              Bill No.
                           </th>
                           <th>
                              Movement
                           </th>
                           <th>
                              Validity
                           </th>
                        </tr>
                     </thead>

                     {% for e in containers %}
                     <tr>
                        <td>
                           {{e.id}} 
                        </td>
                           <td>
                           {{e.container_no}}
                           </td>
                           <td>
                           {{e.sz}}
                           </td>
                           <td>
                           {{e.tare_weight}}
                           </td>
                           <td>
                           {{e.grade}}
                           </td>
                           <td>
                           {{e.status}}
                           </td>
                        <td>
                           {{e.vehicle.gate}}
                        </td>
                        <td>
                           {{e.vehicle.gatepass}}
                        </td>
                        <td>
                           {{e.vehicle.time_of_entry}} 
                        </td>
                        <td>
                           {{e.vehicle.line}}
                        </td>
                        <td>
                           {{e.vehicle.place_from}}
                        </td>
                        <td>
                           {{e.vehicle.bill_no}}
                        </td>
                        <td>
                           {{e.vehicle.movement_type}}
                        </td>
                        <td>
                           {{e.vehicle.validity_date}}
                        </td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
