<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container mt2">
    <form>
         <div class="col-md-4 col-xs-12">
       			<label> Entry Gatepass: </label>		
            	<label>		1			</label>
          </div>
        
        <div class="col-md-8 col-xs-12">
           
                <label for="place"> image here</label>
              		
         
        </div>

         <div class="col-md-4 col-xs-12">
       			<label> Entry Gate: </label>		
            	<label>		1			</label>
          </div>
        
        <div class="col-md-8 col-xs-12">
           
                <label for="place"> image here</label>
              		
         
        </div>
        <div class="col-md-4 col-xs-12">
       			<label>  Time of Entry: </label>		
            	<label>		1			</label>
          </div>
        
        <div class="col-md-8 col-xs-12">
           
                <label for="place"> image here</label>
              		
         
        </div>
        <div class="col-md-12 col-xs-12">
       			<label> Liner: </label>		
            	<label>		1			</label>
          </div>
          <div class="col-md-12 col-xs-12">
       			<label> Place: </label>		
            	<label>		1			</label>
          </div>
          <div class="col-md-12 col-xs-12">
       			<label> Movement: </label>		
            	<label>		1			</label>
          </div>
          <div class="col-md-12 col-xs-12">
       			<label>Bill No.: </label>		
            	<label>		1			</label>
          </div>
          <div class="col-md-12 col-xs-12">
       			<label> Validity: </label>		
            	<label>		1			</label>
          </div>
          <div class="col-md-12 col-xs-12">
       			<label> Print: </label>		
            	<label>		1			</label>
          </div>
     </form>     
        
    
</div>


</body>

</html>