{% extends "base.html" %}



{% block content_block %}

<div class="container">
  <div class="row">
    <div class="col-md-12" id="printableArea">
<form novalidate=""  method="get" action="/search/" class="reply-form">

    <div class="controls col-md-4">
        <p class="datetime">From Date: <input class="form-control form-control-inline vDateField"  name="from_date" placeholder="From Date" id="from_date" size="10" title="" type="text"/></p>
    </div>

    <div class="controls col-md-4">
        <p class="datetime">To Date: <input class="form-control form-control-inline vDateField" name="to_date" placeholder="TO Date" id="to_date" size="10" title="" type="text"/></p>
    </div>
<div class="controls col-md-4"><button type="submit" class="form-control res-btn">Check Reports</button></div> 

<!-- <input type="date" placeholder="Departure Date" id="departure_date" name="departure_date" required=""> -->


</form>
    </div>
  </div>
</div>    






<div class="container">
  <div class="row">
    <div class="col-md-12" id="printableArea">


        
      
      <h2>List of Vehicle Entries </h2>
     
<table border="1" class="table table-striped bordered">

<thead>
					<tr>
						<th>
							#
						</th>
												 <th>
                           container_no
                           </th>
                           <th>
                           size
                           </th>
                           <th>
                           tare_weight
                           </th>
                           <th>
                           grade
                           </th>
                           <th>
                           status
                           </th>
						<th>
							Entry Gate
						</th>

						<th>
							Entry Gatepass
						</th>

							<th>
							Time of Entry
						</th>
						<th>
							Moment type
						</th>
						<th>
							Place
						</th>
						<th>
							Bill No.
						</th>

						<th>
							Validity
						</th>



					</tr>
				</thead>


 {% for e in containers %}

<tr id="printableArea">
<td>
{{e.id}} 
</td>
                       </td>
                           <td>
                           {{e.container_no}}
                           </td>
                           <td>
                           {{e.sz}}
                           </td>
                           <td>
                           {{e.tare_weight}}
                           </td>
                           <td>
                           {{e.grade}}
                           </td>
                           <td>
                           {{e.status}}
                           </td>
<td>
{{e.vehicle.gate}}
</td>

<td>
{{e.vehicle.gatepass}}
</td>


<td>
{{e.vehicle.time_of_entry}} 
</td>
<td>
{{e.vehicle.line}}
</td>

<td>
{{e.vehicle.place_from}}
</td>

<td>
{{e.vehicle.bill_no}}
</td>

<td>
{{e.vehicle.movement_type}}
</td>

<td>
{{e.vehicle.validity_date}}
</td>





</tr>



      {% endfor %}

</table>
    

</div>


{% endblock %}
