{% extends "base.html" %}



{% block content_block %}

<div class="container">
  <div class="row">
    <!-- <div class="col-md-12" id="printableArea">
	-->
	<div class="col-md-12">
        
      
      <h2>List of Vehicle Entries </h2>  <h4> <a href="/admin/reports">  Click here to go to Reports Home </a>  </h4>
   
<table border="1" class="table table-striped bordered">

<thead>
					<tr>
						<th>
							#
						</th>
						    <th>
                           container_no
                           </th>
                           <th>
                           size
                           </th>
                           <th>
                           tare_weight
                           </th>
                           <th>
                           grade
                           </th>
                           <th>
                           status
                           </th>
						<th>
							Entry Gate
						</th>

						<th>
							Entry Gatepass
						</th>

							<th>
							Time of Entry
						</th>
						<th>
							Liner
						</th>
						<th>
							Place
						</th>
						<th>
							Bill No.
						</th>
						<th>
							Movement
						</th>

<th>
							Validity
						</th>


					</tr>
				</thead>
 {% for e in containers %}

<tr>
<td>
{{e.id}} 
</td>
                       </td>
                           <td>
                           {{e.container_no}}
                           </td>
                           <td>
                           {{e.sz}}
                           </td>
                           <td>
                           {{e.tare_weight}}
                           </td>
                           <td>
                           {{e.grade}}
                           </td>
                           <td>
                           {{e.status}}
                           </td>
<td>
{{e.vehicle.gate}}
</td>

<td>
{{e.vehicle.gatepass}}
</td>


<td>
{{e.vehicle.time_of_entry}} 
</td>
<td>
{{e.vehicle.line}}
</td>

<td>
{{e.vehicle.place_from}}
</td>

<td>
{{e.vehicle.bill_no}}
</td>

<td>
{{e.vehicle.movement_type}}
</td>

<td>
{{e.vehicle.validity_date}}
</td>



</tr>



      {% endfor %}

</table>

    </div>
   <!--  <input type="button" onclick="printDiv('printableArea')" value="print" /> -->
  </div>
</div>



<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>

{% endblock %}
