{% extends 'base.html' %}
 {% load i18n %}


{% load static %}
{% block title %} Smart Vizag Reset Complete {% endblock %}

   {% block content_block %}



      <div class="container logincont" style="margin-top:100px;">
          
          
            <div class="row">
		<div class="col-md-12">
      
      
<p>{% trans "Password reset successfully" %}</p>

<p><a href="/accounts/login/"> Log in </a></p>





        
              </div>
      </div>
    </div>
      
    
    
    
{% endblock %}
