{% extends 'base.html' %}
 {% load i18n %}


{% load static %}
{% block title %} Smart Vizag Password Reset Confirm {% endblock %}

   {% block content_block %}



      <div class="container logincont" style="margin-top:100px;">
          
          
            <div class="row">
		<div class="col-md-12">
      
      
{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}



        
              </div>
      </div>
    </div>
      
    
    
    
{% endblock %}
