   {% extends 'base-dash2.html' %}
 {% load static %}
{% block title %} About Us {% endblock %}


{% block content_block %}
<div class="col-md-12 content">
        
    
        <div class="section">
            <div class="container" style="background-color:white;">
                <div class="row">
                    <div class="col-md-4 smcenter">
                        <img src="/media/img-sm/whtissm.jpg" height="400" width="300" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h3>What is aoucr?</h3>
                        <p align="justify">aoucr provides relevant, reliable and comprehensive information about government organizations, business units and latest updates in vizag city.
                        It is an innovation platform for the the Greater Visakhapatnam
                            Area. It collaborates with businesses, residents, the municipality and knowledge
                            institutions to suggest and apply innovative ideas &amp; solutions for
                            urban issues. aoucr has grown into a platform comprising of 50 partners,
                            who are actively involved in more than 20 innovative projects.</p>
                    </div>
                </div>
<br/>
       
                <div class="row">
                    <div class="col-md-4 smcenter">
                       <img src="/media/img-sm/Contribute.jpg" height="400" width="300" class="img-responsive">
                    </div>
                    
                    <div class="col-md-8">
                        <h3>How can you contribute?</h3>
                        <p align="justify">aoucr is keen to work closely with city residents and visitors of
                            Vizag to develop ideas and solutions aimed at improving the liveability
                            of the city. After all, they know what they like, what does (and doesn’t)
                            work and how they envisage the future for their own house, their street,
                            neighbourhood, and perhaps even the entire city. If you’ve got an idea
                            or solution, we’d love to hear it! .</p>
                    </div>
                    
                </div>
        
        <br/>
                <div class="row">
                    <div class="col-md-4 smcenter">
                         <img src="/media/img-sm/why.jpg" height="400" width="300" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h3>Why is this important?</h3>
                        <p align="justify">aoucr believes in a liveable city where people can live and work
                            pleasantly. It connects people in order to enable the creation of smart
                            collaborations and solutions. This contributes to the liveability of the
                            Vizag, promotes sustainable economic growth and helps develop new markets..</p>
                    </div>
                </div>
            </div>
       
    {% endblock %}
