<meta name="Title" content="{{ buses.route }} buses in Visakhapatnam | {{ buses.from_stop }} - {{ buses.to_stop }} | aoucr" />
<meta name="description" content="aoucr provides information about the {{ buses.route }} in Visakhapatnam with Timings and route via, intermediate stops" />
<meta name="keywords" content="{{ buses.route }} in visakhapatnam, {{ buses.from_stop }}, {{ buses.to_stop }} in vizag, Bus numbers, Timings, Vizag Buses, via Route, route map, stops, road transport, APSRTC in vizag, bus services, request stops, Bus, Localbus" />
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all">
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/{{ buses.text }}/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="{{ buses.route }} in visakhapatnam, {{ buses.from_stop }}, {{ buses.to_stop }} in vizag, Bus numbers, Timings, Vizag Buses, via Route, route map, stops, request stops, Bus, Localbus" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about the {{ buses.route }} in Visakhapatnam with Timings and route via, intermediate stops in vizag" />
