<meta name="Title" content="Chemist in Visakhapatnam | aoucr" />
<meta name="description" content="List of Chemists &amp; Druggists / Medical Shops in Visakhapatnam " />
<meta name="keywords" content="medical uniform store, medical supplies retail, medical supply retail, medical supply store, medical supply stores, b kamins chemist, medical supplies store, chemist jobs, chemists jobs, chemist salaries, jobs for chemists, medical supplies stores, medical book stores, chemists job, chemist job, chemist careers, medical stores, Medical Store, Stores, Dealers, Service Providers, stockists, godown, exporters, importers" />
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all">
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/emergency/chemist/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="Medical shops, Medical stores, Medicine shops, pharma shops, appollo pharmacy, drugs and chemists, stores" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about the Medical stores in Visakhapatnam" />
