{% extends 'base-dash2.html' %}

{% load static %}
{% block title %} Places {% endblock %}

{% block content_block %}
<div class="container">
 <div class="row row-offcanvas row-offcanvas-left">
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
           <ul class="nav">
                     <li><a href="/city/touristplaces/vizagport/">Vizag Port</a></li>
                    <li><a href="/city/touristplaces/kailasagiri/">Kailasagiri</a></li>
                    <li><a href="/city/touristplaces/dolphinnose/">Dolphin Nose </a></li>
                     <li><a href="/city/touristplaces/visakhamuseum/">Visakha Museum</a></li>
                    <li><a href="/city/touristplaces/submarinemuseum/">Submarine Museum</a></li>
                     <li><a href="/city/touristplaces/zoopark/">Indira Gandhi Zoological Park</a></li>
                    <li><a href="/city/touristplaces/yaradabeach/">Yarada Beach</a></li>
                    <li><a href="/city/touristplaces/kambalakonda/">Kambala Konda Wild Life Sanctuar</a></li>
                    <li><a href="/city/touristplaces/simhachalam/">Simhachalam Temple</a></li>
                    <li><a href="/city/touristplaces/vudapark/">Vuda Park</a></li>
                    <li><a href="/city/touristplaces/rkbeach/">Rama Krishna Beach</a></li>
                    <li><a href="/city/touristplaces/borracaves/">Borra Caves</a></li>
                    <li><a href="/city/touristplaces/rosshill/">Ross Hill</a></li>
                    <li><a href="/city/touristplaces/matsyadarshini/">Matsyadarshini Aquarium </a></li>
                    <li><a href="/city/touristplaces/victoryatsea/">Victory at Sea </a></li>
                    <li><a href="/city/touristplaces/arakuvalley/">Araku Valley</a></li>
                    <li><a href="/city/touristplaces/fishingharbour/">Fishing Harbour  </a></li>
                    
                </ul>
        </div>
		<div class="col-xs-12 col-sm-9">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 align="center">
				DARGAH KONDA 
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-359310">
				<ol class="carousel-indicators">
					<li  data-slide-to="0" data-target="#carousel-359310">
					</li>
					<li data-slide-to="1" data-target="#carousel-359310">
					</li>
					<li data-slide-to="2" data-target="#carousel-359310">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://lorempixel.com/1600/500/sports/1">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/2">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/3">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								The Visakha Museum Visakhapatnam is to be found at an Old Dutch lodge on the R K Beach Road. The Visakha Museum Vizag has a few of the top and supreme creative substance pretend show. Representation several of them still at life-sized showing the constituent of the Royal people of the Vizianagaram and Boboli, 2 Armour suits, 2 place of lance and silence packing guns, quite a few very old armaments for example steel bows, handguns that meeting rear to the British-rule era are a little of the equipment one should not overlook. The Visakha Museum Visakhapatnam also displays case several of the relics composed from other establishment. These take in the 250-lb bombard that was fall by the 
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-359310" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-359310" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<p class="text">
				The term 'Dargah Konda Vizag' accurately precedes the Konda (hill) that stand a Dargah (mausoleum). The Dargah Konda Visakhapatnam; the northern of the 3 mound those include the Visakhapatnam Port is a blessed pilgrimage spot of the Muslim civilians where the tomb of an honored Muslim Saint; Sayed Ali Medina (also well-known as Baba Ishaq Medina) is take it easy. The Dargah of Baba Ishaq Medina plus the mosque vertical right close to the Dargah are tremendously glorious between together the Muslim and the Hindu society of Visakhapatnam and this revered residence of the vast Muslim Saint accept grave invasion of followers from assorted sacred surroundings all during the year. Dargah Konda Visakhapatnam is said amid the supporter that Baba Sayed Ali Medina possesses unbelievable visionary influence and those who pay honor at the Dargah are sanctified with excellent destiny. The Dargah Konda Vizag, also suppose as the 'Dargah Pahad' supply as the entryway to the Visakhapatnam port.
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Timings
			</h3>
			<p> 9.00 AM to 6.00 PM
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Bus Route
			</h3>
		<p> 
		</div>
		
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <address> <strong>Vizag Port</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
		</div>
	</div>

	</div>
	</div>
        
        </div>
{% endblock %}
