{% extends 'base-dash.html' %}

{% load static %}
{% block title %} aoucr Home {% endblock %}

{% block content_block %}
 <div class="row clearfix">
		<div class="col-md-6 column xcity">
			<h3 class="title">
				<b> City Updates </b>
			</h3>
			<ul>
				<li>
					<a target="_blank" href="http://www.thehindu.com/todays-paper/tp-features/tp-propertyplus/gvmc-drive-against-unauthorised-constructions/article7019282.ece">  GVMC drive against unauthorised constructions  </a>
				</li>
				<li>
					<a target="_blank" href="http://www.thehindu.com/news/cities/Visakhapatnam/several-events-lined-up-for-tb-prevention-day/article7020352.ece?ref=tpnews">  Several events lined up for TB Prevention Day  </a>
				</li>
				<li>
					<a target="_blank" href="http://businesstoday.intoday.in/story/airasia-announces-kuala-lumpur-visakhapatnam-direct-flights/1/216744.html">  AirAsia announces Kuala Lumpur-Visakhapatnam direct flights  </a>
				</li>
				<li>
					<a target="_blank" href="http://timesofindia.indiatimes.com/city/visakhapatnam/Now-intelligent-cameras-to-regulate-traffic-in-Visakhapatnam/articleshow/46631675.cms">  Now intelligent cameras to regulate traffic in Visakhapatnam  </a>
				</li>
				<li>
					<a target="_blank" href="http://www.thehindu.com/news/cities/Visakhapatnam/a-single-portal-to-real-time-info/article7020336.ece?ref=tpnews">  A single portal to real time info  </a>
				</li>

			</ul>
		</div>
		<div class="col-md-6 column xgreen">
			<h3 class="title">
				<b> Go Green </b>
			</h3>
			<ul>
				<li>
					<a target="_blank" href="#">  Alternatives to Plastic </a>
				</li>
				<li>
					<a target="_blank" href="#">  Disposal of e-Waste </a>
				</li>
				<li>
					<a target="_blank" href="#">  Tree Plantation </a>
				</li>
				<li>
					<a target="_blank" href="#"> 	Go Green </a>
				</li>
				<li>
					<a target="_blank" href="#">  Fight Pollution </a>
				</li>

			</ul>
		</div>
	</div>
 <div class="row clearfix">
		<div class="col-md-6 column xcitizen">
			<h3 class="title">
				<b> Citizen Corner </b>
			</h3>
			<ul>
				<li>
					<a target="_blank" href="#">  Opinion Poll </a>
				</li>
				<li>
					<a target="_blank" href="#">  Discussion Forum </a>
				</li>
				<li>
					<a target="_blank" href="#">  RTI </a>
				</li>
				<li>
					<a target="_blank" href="#">  Resident Alerts </a>
				</li>
				<li>
					<a target="_blank" href="#">  Community Sharing  </a>
				</li>

			</ul>
		</div>
		<div class="col-md-6 column xemergency">
			<h3 class="title">
				<b>Emergency </b>
			</h3>
			<ul>
				<li>
					I Town PS : Tel No. 2563632 (L&O) 2521673 (Traffic)
				</li>
				<li>
					II Town PS : Tel No.2546866 (L&O) 2783677 (Traffic)
				</li>
				<li>
					III Town PS : Tel No. 2555517 (L&O) / 2755348 (Traffic)
				</li>
				<li>
					Ambulance - 108
				</li>
				<li>
					 Help Line - 1913
				</li>

			</ul>
		</div>
	</div>
 <div class="row clearfix">
		<div class="col-md-6 column xhelpline">
			<h3 class="title">
				<b>Helpline Nos</b>
			</h3>
			<ul>
				<li>
					Dial your commissioner: Every Wednesday Toll Free No: 180042500009
				</li>
				<li>
					Transport Enquiry : 2546400
				</li>
				<li>
					Consumer Guidance No: +(91)-891-2235408 
				</li>
				<li>
					Sub-urban Helpline: 2517905/2516655	
				</li>
				<li>
					Directory Enquiry No: 197
				</li>

			</ul>
		</div>
		<div class="col-md-6 column xmedical">
			<h3 class="title">
				<b>Medical Updates </b>
			</h3>
			<ul>
				<li>
					<a target="_blank" href="#"> Swine Flu Vaccines available at KGH.   </a>
				</li>
				<li>
					<a target="_blank" href="#"> Polio Camps Locations  </a>
				</li>
				<li>
					<a target="_blank" href="#"> Medical Camps  </a>
				</li>
				<li>
					<a target="_blank" href="#">  Yoga Camps </a>
				</li>
				<li>
					<a target="_blank" href="#">  Eye Camps </a>
				</li>

			</ul>
		</div>
	</div>
 
		
{% endblock %}
