{% extends 'base.html' %}

{% block title %} GVMC Zone List | aoucr  {% endblock %}


{% block content_block %}


<div class="row clearfix">
          <div class="col-md-12">
	
    <h2 align="center">
           <b> Pictorial Representation Of GVMC Zone Wise  </b>
	
   </h2>

<img style="width:800px;" src="/media/gvmc-zones.jpg/">
<p>The Greater Visakhapatnam Municipal Corporation (GVMC) will have six zones. The first zone which will be having the area of Madhurawada will have six wards, the second zone which will have MVP Colony, Seethammadara,&nbsp; Balayya Sastry Layout, Akkayyapalem highway, Diamond Park, Siripuram, Beach Road areas and will have 12 wards. Similarly the third zone areas will contain areas of Siripuram, KGH, Ramnagar and Allipuram and will have 19 wards, the fourth zone will have Akkayyapalem, NH 5, NAD junction, Karasa, Convent junction region will 16 wards, the fifth zone will have the regions of Gajuwaka and Steel Plant with 16 wards and the sixth zone will have the regions of NAD Junction, Simhachalam, Vepagunta, Pendurthy with seven wards.</p>

</div>
         
       
</div>
{% endblock %}
