    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Business Services Information  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> Stock market live:</td>
        <td>  
		    <a href = "http://www.bseindia.com/markets/Equity/newsensexstream.aspx" target="_blank" style="color:#0a0adc;"> To get live stock market details click  here </a>
 </td>
 
<tr>
        <td> Register a Firm </td>
        <td>  
		    <a href = "http://www.aponline.gov.in/apportal/HomePageLinks/registrations.htm" target="_blank"  style="color:#0a0adc;"> Detailed description for firm registration are given here </a>
 </td>
 </tr>

<tr>
        <td> Andhra Pradesh State Financial Corporation </td>
        <td>  
		    <a href = "http://www.apsfc.com/APSFC_FM/Login.aspx" target="_blank"  style="color:#0a0adc;">  Detailed description for Andhra Pradesh State Financial Corporation is given here </a>
 </td>
 </tr>

<tr>
        <td> Government loan schemes for small business </td>
        <td>  
		    <a href = "https://www.biz2credit.in/knowledge-center/articles/government-loan-schemes-small-business" target="_blank"  style="color:#0a0adc;"> Detailed description for government loan schemes for small businesses is given here </a>
 </td>
 </tr>

<tr>
        <td>Apply for various schemes run by corporation </td>
        <td> 
		    <a href = "http://admis.hp.nic.in/himachal/hpscstdc/SchemesEng.htm" target="_blank"  style="color:#0a0adc;">  To apply for various schemes run by corporation is given here </a>
 </td>
 </tr>

                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
