    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Women & Child Services  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> Child & Women</td>
        <td>  
		    <a href = "http://wcdsc.ap.nic.in/" target="_blank"  style="color:#0a0adc;">  Detailed description for child & women schemes is given here </a>
 </td>
 </tr>

<tr>
        <td> Department of women development & child welfare</td>
        <td>  
		    <a href = "http://wdcw.ap.nic.in/icds.html" target="_blank"  style="color:#0a0adc;">  Detailed description for department of women development & child welfare is given here </a>
 </td>
 </tr>

<tr>
        <td> Women Empowerment schemes</td>
        <td>  
		    <a href = "http://wcd.nic.in/schemes-listing/2405" target="_blank"  style="color:#0a0adc;">  Detailed description for Women Empowerment schemes is given here </a>
 </td>
 </tr>

<tr>
        <td> Integrated child development schemes(ICDS)</td>
        <td>  
		    <a href = "http://www.andhrapradeshstat.com/socialandwelfareschemes/27/childschemes/59/integratedchilddevelopmentschemeicds/17919/stats.aspx" target="_blank"  style="color:#0a0adc;">  Detailed description for integrated child development schemes(ICDS) schemes is given here </a>
 </td>
 </tr>
	
        
                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
