    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Employement Services Information  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> How to get govt job notifications</td>
        <td>   
		    <a href = "http://www.freejobalert.com/latest-notifications" target="_blank"  style="color:#0a0adc;"> Detailed description to get govt job notifications is given here </a>
 </td>
 </tr>
	<tr>
        <td> Job notifications </td>
        <td>  
		    <a href = "http://www.govtjobsblog.in/latest-govt-jobs-in-ap-government-jobs/" target="_blank"  style="color:#0a0adc;"> Detailed description for job notifications are given  here </a>  </p>

 </td>
 </tr>

<tr>
        <td> Andhrapradesh employment scheme </td>
        <td>  
		    <a href = "http://www.ideasforindia.in/article.aspx?article_id=308" target="_blank"  style="color:#0a0adc;"> Detailed description for Andhrapradesh employment scheme is given here </a>  </p>

 </td>
 </tr>

<tr>
        <td> Employment news </td>
        <td>  
		    <a href = "http://employmentnews.gov.in/index.asp" target="_blank"  style="color:#0a0adc;">  To know about employment news click here </a>  </p>

 </td>
 </tr>

<tr>
        <td> Mahatma gandhi national rural employment schemes-AP </td>
        <td>   
		    <a href = "http://www.nrega.ap.gov.in/Nregs/" target="_blank"  style="color:#0a0adc;"> To know about mahatma gandhi national rural employment schemes-AP click here </a>  </p>

 </td>
 </tr>


                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
