    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> Health Services Information </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> Health insurance:</td>
        <td> <a href = "http://www.starhealth.in/" target="_blank" style="color:#0a0adc;">To apply for an health insurance clickhere</a>
 </td>
 </tr>
	<tr>
        <td> AP Health Cards: </td>
        <td>  
		    <a href = "http://www.ehf.gov.in/EHS" target="_blank" style="color:#0a0adc;">  Detailed description for AP Health Cards are given click here </a>

 </td>
 </tr>


<tr>
        <td> Apply for health card  </td>
        <td>  <a href = "http://aphealthcards.blogspot.com/2012/02/health-cards-application-for-employees.html" target="_blank" style="color:#0a0adc;">  To apply for an AP health card online click here </a>
 </td>
 </tr>

<tr>
        <td> World health organization:  </td>
        <td>  
		    <a href = "http://www.who.int/topics/health_services/en/" target="_blank" style="color:#0a0adc;">  To know about world health organization click  here </a>
 </td>
 </tr>

<tr>
        <td> National Health Mission  </td>
        <td>  
		    <a href = "http://cfw.ap.nic.in/" target="_blank" style="color:#0a0adc;">  To know about Commessionerate of Health & Family Welfare mission directorate click here </a>
 </td>
 </tr>
<tr>
        <td> Employee state insurance corporation  </td>
        <td>   
		    <a href = "http://www.esic.nic.in/andhrapradesh-boffice.php" target="_blank" style="color:#0a0adc;">  To know about Employee state insurance click here </a>
 </td>
 </tr>

<tr>
        <td> Directorate of public health and family welfare  </td>
        <td>  
		    <a href = "http://dh.ap.nic.in/" target="_blank" style="color:#0a0adc;">   To know about public health and family welfare click here </a>
 </td>
 </tr>

<tr>
        <td> Ministry of health and family welfare  </td>
        <td>  
		    <a href = "http://www.mohfw.nic.in/index1.php?lang=1&level=3&sublinkid=1883&lid=1715" target="_blank" style="color:#0a0adc;" style="color:#0a0adc;">  How know about Ministry of health and family welfare click  here </a>
 </td>
 </tr>



        
                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
