    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}

  <div class="row clearfix datarow">
 <div class="col-md-12 column">
            <h1 class="text-center" style="
    background-color: #056F12;color: white; height: 40px; padding: 8px;">Eradication of mosquitoes</h1>
          </div>
        </div>
   <div class="row clearfix datarow">
 <div class="col-md-6 column">
            <p style="text-align: justify; font-size:initial;"> &nbsp;&nbsp;&nbsp;&nbsp;Mosquito control manages the population of mosquitoes to reduce their damage to human health, economies, and enjoyment. Mosquito control is a vital public-health practice throughout the world and especially in the tropics because mosquitoes spread many diseases, such as malaria.</p>
<br>            
            <p style="text-align: justify;  font-size:initial;">
&nbsp;&nbsp;&nbsp;&nbsp; Since many mosquitoes breed in standing water, source reduction can be as simple as emptying water from containers around the home. This is something that homeowners can accomplish. For example, homeowners can eliminate mosquito breeding grounds by removing unused plastic pools, old tires, or buckets; by clearing clogged gutters and repairing leaks around faucets; by regularly (at least every 4 days) changing water in bird baths; and by filling or draining puddles, swampy areas, and tree stumps.<br> &nbsp;&nbsp;&nbsp;&nbsp; Eliminating such mosquito breeding areas can be an extremely effective and permanent way to reduce mosquito populations without resorting to insecticides.<br> However, this may not be possible in parts of the developing world where water cannot be readily replaced due to irregular water supply.</p>
          </div>
	
          <div class="col-md-6 column">
            <img src="/media/howdoi/mosquitoes.jpg" height="450px" width="430px">
          </div>
        </div>
<br>
        <div class="row clearfix datarow">
 <div class="col-md-4 column">
 <a><img src="/media/howdoi/1mosquitoes.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/2mosquitoes.jpg" style="height:212px; width=282px;"  class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/mosquitoes1.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div></div>
  

{% endblock %}
