    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}

  <div class="row clearfix datarow">
 <div class="col-md-12 column">
            <h1 class="text-center" style="
    background-color: #056F12;color: white; height: 40px; padding: 8px;">Pollution Prevention</h1>
          </div>
        </div>
   <div class="row clearfix datarow">
 <div class="col-md-6 column">
            <p style="text-align: justify; font-size:initial;">&nbsp;&nbsp;&nbsp;&nbsp;Pollution prevention (P2) is any practice that reduces, eliminates, or prevents pollution at its source. P2, also known as "source reduction," is the ounce of prevention approach to waste management. Reducing the amount of pollution produced means less waste to control, treat, or dispose of. Less pollution means less hazards posed to public health and the environment. Learn more about the definition of P2.</p>
<br>            
            <p style="text-align: justify;  font-size:initial;">
&nbsp;&nbsp;&nbsp;&nbsp; Pollution prevention reduces both financial costs (waste management and cleanup) and environmental costs (health problems and environmental damage). Pollution prevention protects the environment by conserving and protecting natural resources while strengthening economic growth through more efficient production in industry and less need for households, businesses and communities to handle waste.</p>
          </div>
	
          <div class="col-md-6 column">
            <img src="/media/howdoi/pollution.jpg" height="450px" width="430px">
          </div>
        </div>
<br>
        <div class="row clearfix datarow">
 <div class="col-md-4 column">
 <a><img src="/media/howdoi/green-chemistry-11-638.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/pollution-bad.jpg" style="height:212px; width=282px;"  class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/we.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div></div>
  

{% endblock %}
