    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}

  <div class="row clearfix datarow">
 <div class="col-md-12 column">
            <h1 class="text-center" style="
    background-color: #056F12;color: white; height: 40px; padding: 8px;">Scientific planting of trees</h1>
          </div>
        </div>
   <div class="row clearfix datarow">
 <div class="col-md-6 column">
            <p style="text-align: justify; font-size:initial;">&nbsp;&nbsp;&nbsp;&nbsp; Tree planting is the process of transplanting tree seedlings, generally for forestry, land reclamation, or landscaping purpose. It differs from the transplantation of larger trees in arboriculture, and from the lower cost but slower and less reliable distribution of tree seeds.</p>
<br>            
            <p style="text-align: justify;  font-size:initial;">
&nbsp;&nbsp;&nbsp;&nbsp; In silviculture the activity is known as reforestation, or afforestation, depending on whether the area being planted has or has not recently been forested. It involves planting seedlings over an area of land where the forest has been harvested or damaged by fire or disease or insects. Tree planting is carried out in many different parts of the world, and strategies may differ widely across nations and regions and among individual reforestation companies. Tree planting is grounded in forest science, and if performed properly can result in the successful regeneration of a deforested area. Reforestation is the commercial logging industry's answer to the large-scale destruction of old growth forests, but a planted forest rarely replicates the biodiversity and complexity of a natural forest.<br>

&nbsp;&nbsp;&nbsp;&nbsp; Because trees remove carbon dioxide from the air as they grow, tree planting can be used as a geoengineering technique to remove CO2 from the atmosphere. Desert greening projects are also motivated by improved biodiversity and reclamation of natural water systems, but also improved economy and social walfare due to increased number of jobs in farming and forestry.</p>
          </div>
	
          <div class="col-md-6 column">
            <img src="/media/howdoi/tree1.jpg" height="450px" width="430px">
          </div>
        </div>
<br>
        <div class="row clearfix datarow">
 <div class="col-md-4 column">
 <a><img src="/media/howdoi/scientific-planting.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/Tree-Planter.jpg" style="height:212px; width=282px;"  class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/trees.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div></div>
  

{% endblock %}
