    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}

  <div class="row clearfix datarow">
 <div class="col-md-12 column">
            <h1 class="text-center" style="
    background-color: #056F12;color: white; height: 40px; padding: 8px;">Conservation of Water Resources</h1>
          </div>
        </div>
   <div class="row clearfix datarow">
 <div class="col-md-6 column">
            <p style="text-align: justify; font-size:initial;">&nbsp;&nbsp;&nbsp;&nbsp; Water conservation encompasses the policies, strategies and activities made to manage fresh water as a sustainable resource, to protect the water environment, and to meet current and future human demand. Population, household size, and growth and affluence all affect how much water is used. Factors such as climate change have increased pressures on natural water resources especially in manufacturing and agricultural irrigation.</p>
<br>            
            <p style="text-align: justify;  font-size:initial;">
&nbsp;&nbsp;&nbsp;&nbsp; The goals of water conservation efforts include:<br>

    Ensuring availability of water for future generations where the withdrawal of fresh water from an ecosystem does not exceed its natural replacement rate.<br>
   &nbsp;&nbsp;&nbsp;&nbsp; Energy conservation as water pumping, delivery and waste water treatment facilities consume a significant amount of energy. In some regions of the world over 15% of total electricity consumption is devoted to water management.<br>
   &nbsp;&nbsp;&nbsp;&nbsp; Habitat conservation where minimizing human water use helps to preserve freshwater habitats for local wildlife and migrating waterfowl, but also water quality.</p>
          </div>
	
          <div class="col-md-6 column">
            <img src="/media/howdoi/fix-img.jpg" height="450px" width="430px">
          </div>
        </div>
<br>
        <div class="row clearfix datarow">
 <div class="col-md-4 column">
 <a><img src="/media/howdoi/water-resources.png" style="height:212px; width=282px;" class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/watercycle.jpg" style="height:212px; width=282px;"  class="img-responsive"></a>  </div>

<div class="col-md-4 column"> <a><img src="/media/howdoi/waterenvbnr.jpg" style="height:212px; width=282px;" class="img-responsive"></a>  </div></div>
  

{% endblock %}
