{% extends 'base-dash.html' %}

{% load static %}
{% block title %} aoucr {% endblock %}

{% block content_block %}
<div class="row clearfix">
		 <div class="col-md-10 content">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">India News</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Navy Day In Visakhapatnam<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Andhra Pradesh News</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Navy Day In Visakhapatnam<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Visakhapatnam News</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Navy Day In Visakhapatnam<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tobacco Leads to Cancer<small>-The Hindu</small></a>
                                                </h4>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                    tempus viverra turpis.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">About Us</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="300x200" src="http://lorempixel.com/600/200/people">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                                elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                                vehicula ut id elit.</p>
                                            <p>
                                                <a class="btn btn-primary" href="#">Action</a>
                                                <a class="btn" href="#">Action</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="300x200" src="http://lorempixel.com/600/200/city">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                                elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                                vehicula ut id elit.</p>
                                            <p>
                                                <a class="btn btn-primary" href="#">Action</a>
                                                <a class="btn" href="#">Action</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="300x200" src="http://lorempixel.com/600/200/sports">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                                elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                                vehicula ut id elit.</p>
                                            <p>
                                                <a class="btn btn-primary" href="#">Action</a>
                                                <a class="btn" href="#">Action</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="well">
                            <h3>City Alerts</h3>
                            <h4>
                                <strong>Swine FLu Vaccine</strong>
                            </h4>
                            <p>Venue:KGH Hospitals
                                <br>Date:Sun Mar 29 2015 at 04:30 pm</p>
                            <a class="btn btn-default btn-large">More City Alerts</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="well">
                            <h3>City Events</h3>
                            <h4>
                                <strong>Achieve rail zone FOR VISAKHAPATNAM</strong>
                            </h4>
                            <p>Venue:Visakhapatnam Railway Station, Visakhapatnam,India
                                <br>Date:Sun Mar 29 2015 at 04:30 pm</p>
                            <a class="btn btn-default btn-large">More City Events</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="well">
                            <h3>Deals</h3>
                            <h4>
                                <strong>50% Off on all Apparel</strong>
                            </h4>
                            <p>Venue:Vizag Central,Poornamarket, Vizag
                                <br>Date:Sun Mar 29 2015 at 04:30 pm</p>
                            <a class="btn btn-default btn-large">More City Deals</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="well">
                            <h3>Government Corner</h3>
                            <h4>
                                <strong>Anti Corruption Bureau</strong>
                            </h4>
                            <p>Ph: +(91)-9440446170,+(91)-891-2552894
                                <br>Address: Plot No.25, Seethammadhara, Doctors Colony, Visakhapatnam - 530013</p>
                            <a
                            class="btn btn-default btn-large">More Govt. Offices</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

	</div>

{% endblock %}
