    {% extends 'base.html' %}

    {% load static %}
{% block title %} How Do I ?  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 
					<div class="inline page-title"> <h2> {{page_title }}  </h2>   </div>
					
				
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                            <table id="myTable" class="table dataTable table-bordered table-striped">
                                <thead>
      <tr>
        <th style="width: 243.7778px;"> How do I ? </th>
        <th> Description </th>



      </tr>
    </thead>

                     

	<tr>
        <td> File RTI</td>
        <td>  Detailed description for filing RTI are given 
		    <a href = "http://rti.gov.in/um_citizen.pdf" target="_blank">  here </a>
 </td>
 </tr>
	<tr>
        <td> Link my Vehicle with Aadhar Card </td>
        <td>  Detailed description for linking Aadhar Card are given 
		    <a href = "https://aptransport.in/APCFSTONLINE/Reports/AadharFeedingScreen.aspx" target="_blank">  here </a> <br/>

<p> You can watch the demo video for linking Aadhaar Number with Driving Licence/Vehicle Registration in-AP  
 <a href = "https://www.youtube.com/watch?v=bmFtLWH0wfI" target="_blank">  here </a>  </p>

 </td>
 </tr>


<tr>
        <td> Register a Firm </td>
        <td>  Detailed description for firm registration are given 
		    <a href = "http://www.aponline.gov.in/apportal/HomePageLinks/registrations.htm" target="_blank">  here </a>
and   <a href = "http://emulate.aponline.gov.in/IGRS/Navigation/Partnership%20Rules.pdf" target="_blank">  here </a>
 </td>
 </tr>

<tr>
        <td> File Income Tax </td>
        <td>  Detailed description for filing income tax are given 
		    <a href = "https://incometaxindiaefiling.gov.in/" target="_blank">  here </a>

 </td>
 </tr>

<tr>
        <td> Integrated Services Delivery Gateway </td>
        <td>  Detailed description for filing any form is given 
		    <a href = "http://ap.meeseva.gov.in/DeptPortal/UserInterface/Services.html" target="_blank">  here </a>  </td>
 </tr>

   
<tr>
        <td> How to Link Aadhar Card to Bank accounts: </td>
        <td>  Detailed information  for linking the Aadhar card to bank account 
 <a href = "http://www.linkaadharcard.in/how-to-link-aadhaar-card-to-bank-account-online-offline/" target = "_blank">  Click Here </a>

 </td>
 </tr>
<tr>
        <td> Download Smart Vizag App: </td>
        <td>  To download Smart Vizag App for Online payments Through Mobile .
 <a href = "https://play.google.com/store/search?q=smart%20vizag%20by%20gvmc&hl=en/" target = "_blank">  Click Here </a>

 </td>
 </tr>
<tr>
        <td> Electric bill payment through online: </td>
        <td>  Electric bill payment through online is given here.
 <a href = "https://www.apeasternpower.com/EPDCL_Home.portal;jsessionid=wg1YWTBbHdn0QtSJsJpzvQBsXYSCnqmN8vV8psMVljPsKLCVnfR1!-234054396?_nfpb=true&_pageLabel=EPDCL_Home_portal_page_1562/" target = "_blank">  Click Here </a>

 </td>
 </tr>
<tr>
        <td> AP online Services: </td>
        <td>  For any online servies in Andhra Pradesh is given
 <a href = "http://www.aponline.gov.in/apportal/homepagelinks/schemes.htm" target = "_blank">  Here </a>

 </td>
 </tr>
        
                      </tbody>
      </table>
</div>
</div>
    {% endblock %}
