    {% extends 'base.html' %}

    {% load static %}
{% block title %} Movies  {% endblock %}

{% block meta %}


<meta name="Title" content="How Do I|aoucr |Local Search" />
<meta name="description" content="How Do I Do"/>
<meta name="keywords" content="How Do I,How Do I help?,Know Information,get the information,gather the info,gather the information,gather all the information"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/howdoi/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="where can i get the latest information in vizag, how can i pay electricity bill, where can i, how can i, how to, where to,  in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about 'where', 'how' and 'what' can i do in Visakhapatnam" />

{% endblock %}

    {% block content_block %}



{% include "city/datatable.html" %}

				 <div class="inline page-title"> <h2> {{page_title }}  </h2>   </div>
					<div class="col-md-12">
			
				<div class="row">
          <div class="col-md-4 text-right">
            <a href="/movies/{{ movie_name_id }}/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718695612016_04_07_10_00_52_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/"><h3 class="text-center text-danger">The Jungle Book (3D English Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/jkr/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718725982016_04_29_01_56_00_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/jkr/"><h3 class="text-center text-danger">Jeelakarra Bellam (Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/24/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718728212016_05_03_06_16_03_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/24/"><h3 class="text-center text-danger">24 (Telugu Movie)</h3></a>
           
          </div>

        </div>
<hr>



<div class="row">
          <div class="col-md-4 text-right">
            <a href="/movies/junglebook/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718708812016_04_26_04_38_49_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/junglebook/"><h3 class="text-center text-danger">The Man Who Knew Infinity (English Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/jkr/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718727962016_05_02_06_40_14_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/jkr/"><h3 class="text-center text-danger">Captain America Civil War (3D English Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/24/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718663762016_02_16_12_26_47_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/24/"><h3 class="text-center text-danger">Krishnashtami (Telugu Movie)</h3></a>
           
          </div>

        </div>
<hr>
			<div class="row">
          <div class="col-md-4 text-right">
            <a href="/movies/junglebook/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718695852016_04_07_10_17_27_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/junglebook/"><h3 class="text-center text-danger">The Jungle Book (3D Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/jkr/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718728232016_05_03_06_17_01_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/jkr/"><h3 class="text-center text-danger">Captain America Gruha Yuddham (3D Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/24/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718682172016_03_22_02_53_12_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/24/"><h3 class="text-center text-danger">Oopiri (2016 Film) (Telugu Movie)</h3></a>
           
          </div>

        </div>
<hr>

			<div class="row">
          <div class="col-md-4 text-right">
            <a href="/movies/junglebook/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718731622016_05_12_11_20_07_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/junglebook/"><h3 class="text-center text-danger">Bichagadu The Billionaire (Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/jkr/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718698512016_04_12_06_45_30_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/jkr/"><h3 class="text-center text-danger">Eedo Rakam Aado Rakam (Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/24/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718695512016_04_07_10_14_23_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/24/"><h3 class="text-center text-danger">Sardaar Gabbar Singh (Telugu Movie)</h3></a>
           
          </div>

        </div>
<hr>
				
			
			<div class="row">
          <div class="col-md-4 text-right">
            <a href="/movies/junglebook/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718731112016_05_10_03_33_11_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/junglebook/"><h3 class="text-center text-danger">Pencil (Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/jkr/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718728202016_05_03_06_15_05_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/jkr/"><h3 class="text-center text-danger">Supreme (Telugu Movie)</h3></a>
           
          </div>
          <div class="col-md-4 text-right">
            <a href="/movies/24/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718700232016_04_19_01_18_08_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/24/"><h3 class="text-center text-danger">Sarainodu (Telugu Movie)</h3></a>
           
          </div>

        </div>
<hr>





			<div class="row">
          <div class="col-md-4 text-right">
            <a href="/movies/junglebook/"><img src="http://content1.jdmagicbox.com/movies/mumbai_10718730932016_05_10_02_13_58_320.jpg" style="width:357px; height:210px;" class="img-responsive"></a>
            <a href="/movies/junglebook/"><h3 class="text-center text-danger">Money Monster (English Movie)</h3></a>
           
          </div>

        </div>
<hr>
		</div>

    {% endblock %}
