<meta name="robots" content="all">
<meta name="Title" content=" visakhapatnam ngo/charites, Charitable Trusts, Non government organisations in vizag" />
<meta name="description" content="aoucr provides information about Charitable Trusts, Non government organisations in vizag along with their phone numbers and address, NGO/Charities"/>
<meta name="keywords" content="charitable trusts in vizag, non-government organisation,list of charitable trusts in vizag, NGO's in vizag, phone numbers, address">
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all">
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://www.aoucr.com/ngo/"/>
<meta property="og:sitename" content = "http://www.aoucr.com"/> 
<meta property="og:title" content="charitable trusts in vizag, ngo's in vizag, trusts in vizag, non government organisations in vizag, charity trusts in vizag, old age homes in vizag in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about all the charitable trusts and non government organisations  with Phone Numbers, Addresses in Visakhapatnam" />
