    {% extends 'base.html' %}

    {% load static %}
{% block title %} Protection Of AP Depositors   {% endblock %}

{% block meta %}


<meta name="Title" content="Movies|aoucr |Local Search" />
<meta name="description" content="Movies in Vizag"/>
<meta name="keywords" content="Latest movies, INOX movies, Movies in vizag, Varun INOX, Mukthas ,Jagadamba, Chitralaya, Upcoming movies"/>
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="robots" content="all"/>
<meta content='index, follow' name='GOOGLEBOT'/>
<meta content='index, follow' name='yahooBOT'/>
<meta property="og:url" content = "http://aoucr.com/movies/"/>
<meta property="og:sitename" content = "http://aoucr.com"/> 
<meta property="og:title" content="Latest movies in vizag, INOX movies, CMR Central, Jagadamba, Chitralaya, Movies, Cinema in vizag" />
<meta property="og:type" content="article" />
<meta property="og:description" content="aoucr provides information about movies with theatre address in Visakhapatnam" />

{% endblock %}


    {% block content_block %}
<style>
h2{
background-color: rgba(128, 128, 128, 0.1); border: 1px solid #757272; border-radius: 6px; padding: 20px 9px 20px 8px; box-shadow: 0 8px 6px -8px black; font-size:14px;
}
</style>


{% include "city/datatable.html" %}



				 <div class="inline page-title"> <h3> {{page_title }}  </h3>   </div>
					<div class="col-md-12">
			
				<div class="row">
          <div class="col-lg-2 text-right">
            
            <h2 class="text-center"><a href="">Agri Gold</a></h2>
           
          </div>
          <div class="col-lg-2 text-right">
            
            <a href=""><h2 class="text-center">Abhaya Gold</h2></a>
           
          </div>
	  <div class="col-lg-2 text-right">
            
            <a href=""><h2 class="text-center">Akshaya Gold</h2></a>
           
          </div>
	<div class="col-lg-2 text-right">
            
            <a href=""><h2 class="text-center">Akshitha Gold</h2></a>
           
          </div>
          <div class="col-lg-2 text-right">
            
            <a href=""><h2 class="text-center">Avani Gold</h2></a>
           
          </div>
	  <div class="col-lg-2 text-right">
            
            <a href=""><h2 class="text-center">Vasantha Gold</h2></a>
           
          </div>
	
        </div>

<div class="row">
          <div class="col-lg-2 text-right">
            
            <h2 class="text-center"><a href="">Agri Gold</a></h2>
           
          </div>
          <div class="col-sm-2 text-right">
            
            <a href=""><h2 class="text-center">Abhaya Gold</h2></a>
           
          </div>
	  <div class="col-sm-2 text-right">
            
            <a href=""><h2 class="text-center">Akshaya Gold</h2></a>
           
          </div>
	<div class="col-sm-2 text-right">
            
            <a href=""><h2 class="text-center">Akshitha Gold</h2></a>
           
          </div>
          <div class="col-sm-2 text-right">
            
            <a href=""><h2 class="text-center">Avani Gold</h2></a>
           
          </div>
	  <div class="col-sm-2 text-right">
            
            <a href=""><h2 class="text-center">Vasantha Gold</h2></a>
           
          </div>
	
        </div>

		</div>

    {% endblock %}
