{% extends "base.html" %} 


{% block title %} Smart Vizag RealEstates {% endblock %}
{% block meta %}


{% include 'city/rentalsmeta.html' %}



{% endblock %}

        {% block content_block %}
		
		<h2>
		<a href="/rentalposting/"><span class="label label-success faa-tada animated">Post your Real Estates for Free</span></a></h2>
        
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                                <div class="row">
                                    {% for r in rent %}
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a href="/rentals/{{r.slug}}/"><img src="/media/noimage.png" alt="rentals" class="center-block img-responsive img-thumbnail" style="height:200px; overflow:hidden;"></a>
                                            </div>
                                            <div class="col-md-9 text-left">
                                                <h3><a href="/rentals/{{r.slug}}/"><b style="color:#158cba;">{{ r.property_name }}</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="/media/rup.png/" style="height:25px; width:20px;"><b>{{r.rent_price}}</b>
                                                    
                                                </h3>
						
						
                                                <address>
                                                    
						  
                                                    <i class="fa fa-fw fa-map-marker"></i>{{ r.Address }}
                                                    </address>
                                    
						<p><i class="fa fa-fw fa-bed"></i>&nbsp;Bedrooms: {{r.bed_rooms}}</p>
						<p><i class="fa fa-fw fa-bath"></i>&nbsp;Bathrooms: {{r.bath_rooms}}</p>
						<p><i class="fa fa-fw fa-compass"></i>&nbsp;Plot Area: {{r.plot_area}}</p>
						            <hr>
                                            </div>
						</div>
                                        </div>
					{% endfor %}
                                        
                            </div>
                        </div>
			<div class="pagination">
<span class="step-links">
{% if rent.has_previous %}
<a href="?page={{ rent.previous_page_number }}" title="previous"><b> << Previous</b></a>
{% endif %}


<span class="current">
  Page {{ rent.number }} of {{ rent.paginator.num_pages }}
</span>

{% if rent.has_next %}
<a href="?page={{ rent.next_page_number }}" title="next"><b>Next >> </b></a>
{% endif %}
</span>
</div>   
                    </div>
                </div>
           
				
{% endblock %}
