    {% extends 'base-dash.html' %}

    {% load static %}
    {% block title %} Thank You {% endblock %}

    {% block content_block %}





          

                 <div class="row clearfix">
                        <div class="col-md-12 column maincol">
				 
					<div class="inline page-title">   </div>
					
				</div>
</div>
       <div class="row clearfix datarow">
 <div class="col-md-12 column">    
                           

<p>
Thank You for your interest in Smart Vizag. <br/>
We will update you soon.  </p>



                                                       </div>
                                                    </div>

    {% endblock %}
