 
<!DOCTYPE html>

<html lang="en-us" >
<!--
<link media="all" href="/static/nvd3/build/nv.d3.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='/static/nvd3/build/nv.d3.min.js' ></script>
<script type="text/javascript" src='/static/nvd3/build/nv.d3.min.js' ></script>
-->
<head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<style>
td::first-letter {
    text-transform: capitalize;
}
</style>



</head>


<body class=" dashboard"
  data-admin-utc-offset="19800">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
{% if user.is_authenticated and request.user.designation == 'guard'%} 
        <h1 id="site-name"><a href="/admin/">Gatekeeper</a></h1>
{% else %}
       {{request.user.designation}}
        <h1 id="site-name"><a href="/">Gatekeeper</a></h1>
{% endif %}
        </div>
        
        
        <div id="user-tools">
{% if user.is_authenticated %}            
                Welcome,
                <strong>{{request.user}}</strong> <strong> @ </strong> {{request.user.employee.assigned_to}}
                /<a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
{% else %}
<a href="/accounts/login/">Login</a>
{% endif %}

        </div>
        
        
        
    </div>
    <!-- END Header -->
    


{% block content_block %}

{% endblock %}



</div>



{% block customjs_block %}

{% endblock %}




</body>
</html>

